__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

venv/
.env/
.envrc
.venv/
ENV/
env/
env.bak/
venv.bak/

.vscode/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
*.iml

target/
out/
bin/
obj/

*.log
logs/

.DS_Store
Thumbs.db
desktop.ini

.env
*.env
*.key
*.pem

.ipynb_checkpoints/

*.swp
*.swo
*~